# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/

# Build
dist/

# Env
.env
.env.local
.env.production
.env.development

# docker
docker-compose.yaml
dockerfile

# Logs
logs
*.log

# Sistema
.DS_Store

# VS Code
.vscode/

# Testes
coverage/
